<h1>Documents</h1>

<%= link_to "New Document", new_document_path, class: "btn btn-primary" %>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= link_to document.title, edit_document_path(document), data: { turbo_frame: "_top" }, target: "_top" %></td>
        <td>
          <%= link_to "Delete", document_path(document),
                      method: :delete,
                      data: { turbo_method: :delete,
                              turbo_confirm: "Are you sure?" },
                      class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination">
  <%= paginate @documents %>
</div>
